.ChatUI *{

	box-sizing: border-box;
}


.ChatUI{

	width:300px;
	border:1px solid #ccc;
	background-color:whitesmoke;
	border-radius:10px;
	-webkit-box-shadow: 0px 5px 18px 0px #ccc;
	box-shadow: 0px 5px 18px 0px #ccc;
	font-family:helvetica;
	padding:10px;
}

.ChatUI .title{

	margin:0 10px 5px 10px;
	color:#555;
	font-weight:bold;
	font-size:16px;
}

.ChatUI .transcript{

	background-color: white;
	padding: 5px;
	height: 200px;
	border: 1px solid #ccc;
	border-radius: 8px 8px 0 0;
	font-family: fantasy;
	overflow-y: auto;
	display:none;
}

.ChatUI .transcript p{

	word-wrap:break-word;
	margin:3px 0;
	display:none;
	border: 1px solid #eee;
	border-radius: 8px;
	padding: 5px 10px;
	font-size:14px;
}

.ChatUI .transcript p.system{

	font-family:helvetica;
	color:#999;
	font-size:10px;
	float: none;
	text-align: center;
	background: none;
	border-style:dashed;
}

.ChatUI .transcript p.system .name{

	display:none;
}

.ChatUI .transcript .name{

	font-family:helvetica;
	display:block;
	font-size:10px;
}

.ChatUI .transcript .them{

	text-align:left;
	float:left;
	clear:both;
	background-color: #FFF0F0;
}

.ChatUI .transcript .them .name{

	padding-right:10px;
	font-style:italic;
}

.ChatUI .transcript .you{

	text-align:right;
	background-color: #F0FAFF;
	float:right;
	clear:both;
}

.ChatUI .transcript .you .name{

	font-style:italic;
}

.ChatUI .isTyping{

	font-style:italic;
	color:#999;
	font-size:10px;
	height:1em;
	display:none;
	position:absolute;
	bottom:3px;
}

.ChatUI .input{

	width: 100%;
	height:100%;
	border-radius: 0 0 8px 8px;
	border: 1px solid #ccc;
	resize: none;
	padding:5px;
}

.ChatUI .input.disabled{

	background:#eee;
}

.ChatUI .input-container{

	height: 50px;
	margin-top:8px;
}


.ChatUI .form{

	background-color: white;
	padding: 5px;
	height: 100%;
	border: 1px solid #ccc;
	border-radius: 8px 8px 0 0;
	overflow-y: auto;
}

.ChatUI .form label{

	display: block;
	font-size: 13px;
	margin-top: 8px;
}

.ChatUI .form label span{

	display: inline-block;
	text-align:right;
	padding-right:5px;
}

.ChatUI .form label input{

	width: 100%;
	margin-right: 6px;
	display: inline-block;
	border-radius: 8px;
	border: 1px solid #bbb;
	height: 27px;
	-webkit-box-shadow: 3px 5px 16px -6px #ccc;
	box-shadow: 3px 5px 16px -6px #ccc;
	font-size: 11px;
	padding-left: 8px;
}

.ChatUI .form label input.error{

	border-color:red;
}
