<label>
	<b>{{label}}</b>
	<select class="css-input font-picker" selector="{{selector}}">
		<optgroup label="Serif">
			<option style='font-family:Georgia, serif'>Georgia, serif</option>
			<option style='font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif'>"Palatino Linotype", "Book Antiqua", Palatino, serif</option>
			<option style='font-family:"Times New Roman", Times, serif'>"Times New Roman", Times, serif</option>
		</optgroup>
		<optgroup label="Sans-Serif">
			<option style='font-family:Arial, Helvetica, sans-serif'>Arial, Helvetica, sans-serif</option>
			<option style='font-family:"Arial Black", Gadget, sans-serif'>"Arial Black", Gadget, sans-serif</option>
			<option style='font-family:"Comic Sans MS", cursive, sans-serif'>"Comic Sans MS", cursive, sans-serif</option>
			<option style='font-family:Impact, Charcoal, sans-serif'>Impact, Charcoal, sans-serif</option>
			<option style='font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif'>"Lucida Sans Unicode", "Lucida Grande", sans-serif</option>
			<option style='font-family:Tahoma, Geneva, sans-serif'>Tahoma, Geneva, sans-serif</option>
			<option style='font-family:"Trebuchet MS", Helvetica, sans-serif'>"Trebuchet MS", Helvetica, sans-serif</option>
			<option style='font-family:Verdana, Geneva, sans-serif'>Verdana, Geneva, sans-serif</option>
		</optgroup>
		<optgroup label="Monospace">
			<option style='font-family:"Courier New", Courier, monospace'>"Courier New", Courier, monospace</option>
			<option style='font-family:"Lucida Console", Monaco, monospace'>"Lucida Console", Monaco, monospace</option>
		</optgroup>
	</select>
	<!--a href="#" class="toggle-view" data-toggle="#css-tabs-1 .css-input.font-list" effect="vertical-slide" state="hidden">show/hide font examples</a-->
</label>